html, body {
	width: 1600px;
	box-sizing: border-box;
}
header {
	width: 1600px;
	height: 643px;
	background-image: url(../pic/top.jpg);
  	margin-left: -8px;
  	margin-top: -21px;
}

ul.menu li {
	display: inline;
}
a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
.logo {
	float: left;
}
.menu {
	float: right;
  font-size: 18px;
  font-family: "Aller";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  margin-top: 84.7px;
}
.col1 {
	width: 500px;
}
.col1 > h1 {
	color: rgb(255, 255, 255);
	font-size: 52px;
  	font-family: "Aller";
  	font-weight: bold;
  	line-height: 1.2;
  	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
}
.col1 > h2 {
	color: rgb(255, 255, 255);
	font-size: 37px;
	font-family: "Aller Light";
	line-height: 1.081;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
	margin-top: -24px;
}
.col1 >p {
	font-size: 21px;
 	font-family: "Open Sans Light";
 	color: rgb(255, 255, 255);
 	line-height: 1.2;
 	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
 	margin-top: -19px;
}

.col1, .logo, .slider {
	margin-left: 320px;
}
.menu, .social {
	margin-right: 320px;
}
.logo {
	margin-top: 50px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.green {
	border-radius: 3px;
	background: #71a329;
 	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
 	width: 410px;
 	height: 56px;
 	text-align: center;
 	font-size: 18px;
 	font-family: "Aller";
 	font-weight: bold;
 	line-height: 2.222;
 	margin-top: 40px;
  	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
  	line-height: 18px;
  	padding-top: 7px;
}
.buttons {
	border-radius: 3px;
  	background-color: rgb(23, 23, 23);
 	width: 195px;
 	height: 67px;
 	display: inline-block;
 	margin-top: 9px;
 	margin-right: 17px;
}