* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
}
header {
	min-height: 643px;
	background-image: url(../pic/top.jpg);
}

.container {
	width: 960px;
	margin-right: auto; 
	margin-left: auto;
}
header > .container {
	padding-top: 50px;
}
ul.menu li {
	display: inline;
	margin-left: 20px;
}
a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
.logo {
	float: left;
	width: 90px;
	height: 91px;
	background-image: url(../pic/logo.png);
}
.menu li > a:hover {
	color: rgb(166, 173, 176);
}
.menu {
	float: right;
  	font-size: 18px;
 	font-family: "Aller";
 	color: rgb(255, 255, 255);
 	line-height: 3.2;
 }
.col1 {
	width: 500px;
}
.col1 > h1 {
	color: rgb(255, 255, 255);
	font-size: 52px;
  	font-family: "Aller";
  	font-weight: bold;
  	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
  	margin: 40px 0 10px -3px;
}
.col1 > h2 {
	color: rgb(255, 255, 255);
	font-size: 37px;
	font-family: "Aller Light";
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
	margin: 0 0 7px 0;
}
.col1 >p {
	font-size: 21px;
 	font-family: "Open Sans Light";
 	color: rgb(255, 255, 255);
 	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
 	margin: 0;
}
.iphones {
	float: right;
	margin-top: 42.5px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.green {
	border-radius: 3px;
	background: #71a329;
 	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
 	width: 410px;
 	height: 68px;
 	text-align: center;
 	font-size: 18px;
 	font-family: "Aller";
 	margin-top: 45px;
 	margin-bottom: 10px;
  	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
  	line-height: 68px;
}
.buttons {
	border-radius: 3px;
 	width: 195px;
 	height: 67px;
 	display: inline-block;
 	margin-right: 17px;
}
.appstore {
	background-image: url(../pic/apple.png);
}
.playmarket {
	background-image: url(../pic/google.png);
}
article {
	height: 458px;
}
.slider {
	float: right;
	width: 590px;
	margin-top: 114px;
}
.iphone5s {
	float: left;
	margin-top: 88px;
}
.about > h3 {
	font-size: 36px;
	font-family: "Aller";
 	color: rgb(78, 91, 97);
 	font-weight: bold;
 	margin-bottom: 0;
}
.about > p {
	font-size: 19px;
  	font-family: "OpenSans", sans-serif;
  	color: rgb(78, 91, 97);
  	margin: 15px 0 0 0;
}
.marker {
	width: 115px;
	margin-top: 30px;
	margin-left: auto;
    margin-right: auto;
    font-size: 16px;
 	font-family: "Aller";
 	color: rgb(166, 173, 176);
 	padding-bottom: 
}
.elip {
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	border: rgb(166, 173, 176) solid 1px;
	border-radius: 50%;
	margin: 5px 5px 5px 5px;
  	background-color: rgb(78, 91, 97);
  	opacity: 0.502;
}
.elip:first-child {
	opacity: 1;
}
.elip:hover {
	opacity: 1;
	cursor: pointer;
}
hr {
	margin: 0
}
.mega-slider { 
	width: 360px;
	margin-left: auto;
    margin-right: auto;
    font-size: 16px;
 	font-family: "Aller";
 	color: rgb(166, 173, 176);
 	margin-top: 71px;
 	margin-bottom: 71px;
}
.switch {
	display: block;
	float: left;
	width: 120px;
	height: 52px;
	margin: 0;
	border: rgb(166, 173, 176) solid 1px;
	text-align: center;
}
.switch:first-child {
	color: rgb(255, 255, 255);
	background: rgb(166, 173, 176);
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.switch:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.switch:hover {
	color: rgb(255, 255, 255);
	background: rgb(166, 173, 176);
	cursor: pointer;
}
.macro {
	background-image: url(../pic/macro.jpg);
	min-height: 500px;
	margin-bottom: 70px;
}
.about-macro {
	width: 700px;
}
.about-macro > h1 {
	font-size: 52px;
 	font-family: "Aller";
 	color: rgb(255, 255, 255);
 	font-weight: bold;
 	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
 	padding-top: 55px;
 	margin-bottom: 6px;
}
.about-macro > h2 {
	font-size: 37px;
 	font-family: "Aller Light";
 	color: rgb(255, 255, 255);
 	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
 	margin: 0;
} 
.comments {
	float: left;
	width: 430px;
}
.pers {
	min-height: 120px;
	margin-bottom: 30px;

}
.pers > img {
	float: left;
	margin-bottom: 25px;
	margin-right: 19px;
}
.pers > h4 {
	font-size: 21px;
  	font-family: "Open Sans";
  	color: rgb(78, 91, 97);
  	font-weight: bold;
  	padding-top: 7px;
  	margin: 0 0 5px 0;
  }
.pers > p {
	font-size: 16px;
  	font-family: "OpenSans";
 	color: rgb(78, 91, 97);
 	margin: 0;
}
.contact {
	float: right;
	width: 480px;
	min-height: 350px;
	margin: 0;
}
.contact > h3 {
	font-size: 36px;
  	font-family: "Aller";
  	color: rgb(78, 91, 97);
  	font-weight: bold;
  	margin: 0;
}
.contact > p {
	font-size: 19px;
 	font-family: "OpenSans";
  	color: rgb(78, 91, 97);
  	padding-top: 18px;
  	margin: 0;
}
.container > .nav li {
	display: inline;
}
.container > .social li {
	display: inline;
	}
.nav {
	float: left;
	padding-left: 0;
	padding-top: 25px;
	padding-bottom: 25px;
}
.social {
	float: right;
	padding-top: 25px;
	padding-bottom: 25px;
}
.nav a {
	font-size: 16px;
  	font-family: "Aller";
  	color: rgb(166, 173, 176);
}
.social a {
	font-size: 16px;
  	font-family: "Aller";
  	color: rgb(166, 173, 176);
}
.tap > a:hover {
	color: rgb(78, 91, 97);
}